langchain
langchain-community
langchain-core
langchain-openai
langchain-ollama
langchain-groq
langchain-chroma
langchain-huggingface
sentence-transformers
fastapi
streamlit
python-dotenv
faiss-cpu
chromadb
pypdf
arxiv
wikipedia
duckduckgo-search